# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

beatles
linux-amd64-beatles
win-amd64-beatles

# Dependency directories (remove the comment below to include it)
# vendor/
